.featured {
  .image--container {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 13rem;
      height: 1.5rem;
      position: absolute;
      left: 15%;
      background: var(--primary-light);
      top: 75%;
    }
  }

  @media (min-width: 768px) {
    max-height: 335px;
    .image--container::after {
      display: none;
    }
    .featured--text-container {
      max-width: 45%;
    }
  }
}

.featured--section .featured:nth-child(odd) {
  @media (min-width: 768px) {
    .image--container {
      order: 2;
    }
  }
}
