.typography {
  margin: 0;
  font-family: inherit;

  &.xsmall {
    font-size: 1rem;
  }

  &.small {
    font-size: 1.125rem;
  }

  &.medium {
    font-size: 1.5rem;
  }

  &.large {
    font-size: 2rem;
  }

  &.xlarge {
    font-size: 2.5rem;
  }

  &.xl2 {
    font-size: 3.5rem;
  }

  &.regular {
    font-weight: 400;
  }

  &.semi-bold {
    font-weight: 500;
  }

  &.bold {
    font-weight: 600;
  }

  &.primary {
    color: var(--primary-dark);
  }

  &.secondary {
    color: var(--default-dark);
  }

  &.tertiary {
    color: var(--default-main);
  }

  &.accent {
    color: var(--primary-main);
  }

  &.primaryText {
    // Work Sans replaces Tomato Grotesk pending when Tomato Grotesk is available
    font-family: var(--primary-font);
  }

  &.secondaryText {
    font-family: var(--secondary-font);
  }

  @media (max-width: 768px) {
    &.xsmall.scale {
      font-size: 0.8125rem;
    }

    &.small.scale {
      font-size: 1rem;
    }

    &.large.scale {
      font-size: 1.25rem;
    }

    &.xlarge.scale {
      font-size: 2rem;
    }

    &.xl2.scale {
      font-size: 2.5rem;
    }
  }
}

em {
  &.typography {
    font-style: normal;
  }
}
