.typography {
  margin: 0;
  font-family: inherit;

  &.small {
    font-size: 0.875rem;
  }

  &.medium {
    font-size: 1rem;
  }

  &.large {
    font-size: 1.25rem;
  }

  &.light {
    font-weight: 300;
  }

  &.regular {
    font-weight: 400;
  }

  &.semi-bold {
    font-weight: 500;
  }

  &.bold {
    font-weight: 600;
  }

  &.bolder {
    font-weight: 700;
  }

  &.default {
    color: var(--default-main);
  }
  &.primary {
    color: var(--primary-main);
  }
}

h1,
h2,
h3,
h4 {
  &.typography {
    font-family: "Work Sans", sans-serif;
    &.default {
      color: var(--default-dark);
    }
  }
}

strong {
  &.typography {
    span {
      &.default {
        color: var(--default-light);
      }
    }
  }
}

em {
  &.typography {
    font-style: normal;
  }
}
