.center {
  text-align: center;
}

.flex {
  display: flex;
  &.flex-col {
    flex-direction: column;
  }
  &.align-center {
    align-items: center;
  }
  &.justify-around {
    justify-content: space-around;
  }
}
// Heights
.h-2 {
  height: 0.5rem;
}
.h-8 {
  height: 2rem;
}
.h-20 {
  height: 5rem;
}
.h-full {
  height: 100%;
}

// Widths
.w-2 {
  width: 0.5rem;
}
.w-8 {
  width: 2rem;
}
.w-20 {
  width: 5rem;
}
.w-full {
  width: 100%;
}

// paddings
.p-none {
  padding: 0;
}

.p-sm {
  padding: 0.5rem;
}

.pt-sm {
  padding-block-start: 0.5rem;
}
.pb-sm {
  padding-block-end: 0.5rem;
}

.p-md {
  padding: 1rem;
}

.pt-md {
  padding-block-start: 1rem;
}

.pb-md {
  padding-block-end: 1rem;
}

.p-lg {
  padding: 2rem;
}

// Margins

.m-none {
  margin: 0;
}

.m-sm {
  margin: 0.5rem;
}

.mt-sm {
  margin-block-start: 0.5rem;
}
.mb-sm {
  margin-block-end: 0.5rem;
}

.ml-sm {
  margin-inline-start: 0.5rem;
}
.mr-sm {
  margin-inline-end: 0.5rem;
}
.mt-md {
  margin-block-start: 1rem;
}

.mb-md {
  margin-block-end: 1rem;
}

.ml-md {
  margin-inline-start: 1rem;
}
.mr-md {
  margin-inline-end: 1rem;
}
.my-sm {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

.m-md {
  margin: 1rem;
}
.my-md {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.m-lg {
  margin: 2rem;
}

.mt-lg {
  margin-block-start: 2rem;
}
.mb-lg {
  margin-block-end: 2rem;
}

// Borders
.rounded-lg {
  border-radius: 0.5rem;
}

// Images
.object-cover {
  object-fit: cover;
}
