@import url("normalize.css");
@import url("reset.css");

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --default-main: "#4A5050";
  --default-dark: "#2D2D2D";
  --primary-light: #a0dde2cc;
  --primary-main: #40bbc3;
  --primary-dark: #07969e;
  --primary-lighter: #ecfefe;
  --background-main: #ffffff;
  --border-color: #919fb533;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
